.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 28px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and  (max-width: 574px) and (min-width: 400px)  {
    .card{
        width: 370px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */

.container {
    width: 100%; 
    padding-right: 0px; 
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

p span 
{
    display: block;
}
.card_designer-sites__link {
    width: 100%;
    display: block;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.5rem;
    padding: 0.25rem 0.125rem;
    transition: background-color ease-in-out 150ms;
}
.card_designer-sites__list {
    width: 100%;
}
.card_designer-sites {
    background-color: #FCFCFC;
    border-top: 1px solid #F3F3F3;
    width: 100%;
    position: relative;
    z-index: 200;
}
.card_designer-sites__list{
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -moz-box-pack:space-evenly;
    -ms-flex-pack:space-evenly;
    justify-content:space-evenly;
    -moz-box-sizing:border-box;
    box-sizing:border-box
    ;width:100%
    }
.card_designer-sites__item{
    display:inline-block;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -moz-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -moz-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
    }
.lt-ie9 .card_designer-sites__item{
    display:block
    }
.card_designer-sites__link{
    width:100%;
    display:block;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    height:2.5rem;padding:0.25rem 0.125rem;
    transition:background-color ease-in-out 150ms
   }
.card_designer-sites__link .card_icons{
    width:1.125rem;height:1.125rem
 }
.card_designer-sites__link:hover,.safe-focus .card_designer-sites__link:focus{
    background-color: #3b21ff;
    box-shadow:none !important
}
.card_designer-sites__link:active{
    background-color:#3b21ff
}
.card_designer-sites__icon{
    fill:#D9D9D9;transition:fill ease-in-out 250ms
}
.card_designer-sites__link:hover
.card_designer-sites__icon,
.card_designer-sites__link:active 
.card_designer-sites__icon,
.safe-focus 
.card_designer-sites__link:focus 
.card_designer-sites__icon{fill:#fff}.util-visually-hidden{position:absolute!important;clip:rect(1px 1px 1px 1px);
    clip:rect(1px, 1px, 1px, 1px);
    padding:0 !important;margin:0 !important;border:0 !important;height:1px !important;width:1px!important;overflow:hidden
}
.skip-link{
     display:block;
          bottom:100%;
          position:absolute;
          height:5em;
          width:100%;
          padding:1em;
          text-align:center
         }
         @supports (display: flex){.skip-link{display:-moz-box;display:-ms-flexbox;display:flex;
         -moz-box-pack:center;
         -ms-flex-pack:center;
         justify-content:center;
         -moz-box-align:center;
         -ms-flex-align:center;
         align-items:center}}
         .skip-link:active,.skip-link:focus{
          background-color:#000;color:#fff;top:0;bottom:auto;
           z-index:800
          }
           @media (min-width: 25em){
               .logo--text{
                   display:block
                }
                .main-logo--link{
                    width:auto
                }
                .foundry--title{
                    font-size:1.5rem;margin:0 0 0.5rem
                }
                .foundry-article--title{
                    font-size:2.5em
                }
         }
         */
        .card_icons li{
            color: #cccccc;
        }
        
        .card_icons li a {
            text-decoration: none;
            cursor: pointer;
            color: #cccccc;
        }